In [416]:
import pandas as pd

In [417]:
path = 'data/violence_data.csv'
df = pd.read_csv(path)
df.head(20)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8
5,1,Afghanistan,F,Employment,Employed for kind,... if she burns the food,01/01/2015,17.0
6,1,Afghanistan,F,Age,15-24,... if she burns the food,01/01/2015,17.3
7,1,Afghanistan,F,Employment,Unemployed,... if she burns the food,01/01/2015,18.0
8,1,Afghanistan,F,Residence,Rural,... if she burns the food,01/01/2015,18.1
9,1,Afghanistan,F,Age,25-34,... if she burns the food,01/01/2015,18.2
10,1,Afghanistan,F,Marital status,Married or living together,... if she burns the food,01/01/2015,18.3
11,1,Afghanistan,F,Residence,Urban,... if she burns the food,01/01/2015,18.3
12,1,Afghanistan,F,Age,35-49,... if she burns the food,01/01/2015,18.8
13,1,Afghanistan,F,Education,No education,... if she burns the food,01/01/2015,19.1
14,1,Afghanistan,F,Employment,Employed for cash,... if she burns the food,01/01/2015,20.8
15,1,Afghanistan,M,Marital status,Never married,... if she burns the food,01/01/2015,NaN
16,1,Afghanistan,M,Education,Higher,... if she burns the food,01/01/2015,4.5
17,1,Afghanistan,M,Residence,Urban,... if she burns the food,01/01/2015,4.6
18,1,Afghanistan,M,Employment,Unemployed,... if she burns the food,01/01/2015,5.2
19,1,Afghanistan,M,Education,Primary,... if she burns the food,01/01/2015,6.3

In [418]:
df['Residence'] = df['Demographics Response'].apply(lambda response: response if response in ['Rural', 'Urban'] else None)
df['Marital status'] = df['Demographics Response'].apply(lambda response: response if response in ['Never married', 'Widowed, divorced, separated'] else None)
df['Education'] = df['Demographics Response'].apply(lambda response: response if response in ['No education','Primary','Secondary','Higher'] else None)
df['Employment'] = df['Demographics Response'].apply(lambda response: response if response in ['Employed for kind', 'Unemployed','Employed for cash'] else None)
df['Age'] = df['Demographics Response'].apply(lambda response: response if response in ['15-24','25-34','35-49'] else None)

In [419]:
df

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value,Residence,Marital status,Education,Employment,Age
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN,None,Never married,None,None,None
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1,None,None,Higher,None,None
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7,None,None,Secondary,None,None
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8,None,None,Primary,None,None
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8,None,"Widowed, divorced, separated",None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12595,210,Zimbabwe,M,Residence,Urban,... if she goes out without telling him,01/01/2015,11.8,Urban,None,None,None,None
12596,280,Zimbabwe,M,Residence,Rural,... if she neglects the children,01/01/2015,20.1,Rural,None,None,None,None
12597,280,Zimbabwe,M,Residence,Urban,... if she neglects the children,01/01/2015,15.0,Urban,None,None,None,None
12598,350,Zimbabwe,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015,7.2,Rural,None,None,None,None
12599,350,Zimbabwe,M,Residence,Urban,... if she refuses to have sex with him,01/01/2015,3.7,Urban,None,None,None,None

In [420]:

df = df.drop('Demographics Response', axis=1)
df = df.drop('Demographics Question', axis=1)

In [421]:
df.head(20)

,RecordID,Country,Gender,Question,Survey Year,Value,Residence,Marital status,Education,Employment,Age
0,1,Afghanistan,F,... if she burns the food,01/01/2015,NaN,None,Never married,None,None,None
1,1,Afghanistan,F,... if she burns the food,01/01/2015,10.1,None,None,Higher,None,None
2,1,Afghanistan,F,... if she burns the food,01/01/2015,13.7,None,None,Secondary,None,None
3,1,Afghanistan,F,... if she burns the food,01/01/2015,13.8,None,None,Primary,None,None
4,1,Afghanistan,F,... if she burns the food,01/01/2015,13.8,None,"Widowed, divorced, separated",None,None,None
5,1,Afghanistan,F,... if she burns the food,01/01/2015,17.0,None,None,None,Employed for kind,None
6,1,Afghanistan,F,... if she burns the food,01/01/2015,17.3,None,None,None,None,15-24
7,1,Afghanistan,F,... if she burns the food,01/01/2015,18.0,None,None,None,Unemployed,None
8,1,Afghanistan,F,... if she burns the food,01/01/2015,18.1,Rural,None,None,None,None
9,1,Afghanistan,F,... if she burns the food,01/01/2015,18.2,None,None,None,None,25-34
10,1,Afghanistan,F,... if she burns the food,01/01/2015,18.3,None,None,None,None,None
11,1,Afghanistan,F,... if she burns the food,01/01/2015,18.3,Urban,None,None,None,None
12,1,Afghanistan,F,... if she burns the food,01/01/2015,18.8,None,None,None,None,35-49
13,1,Afghanistan,F,... if she burns the food,01/01/2015,19.1,None,None,No education,None,None
14,1,Afghanistan,F,... if she burns the food,01/01/2015,20.8,None,None,None,Employed for cash,None
15,1,Afghanistan,M,... if she burns the food,01/01/2015,NaN,None,Never married,None,None,None
16,1,Afghanistan,M,... if she burns the food,01/01/2015,4.5,None,None,Higher,None,None
17,1,Afghanistan,M,... if she burns the food,01/01/2015,4.6,Urban,None,None,None,None
18,1,Afghanistan,M,... if she burns the food,01/01/2015,5.2,None,None,None,Unemployed,None
19,1,Afghanistan,M,... if she burns the food,01/01/2015,6.3,None,None,Primary,None,None

In [422]:
desired_order = ['RecordID','Gender','Country','Age','Education','Marital status','Employment','Residence','Survey Year','Question','Value']
df = df[desired_order]

In [423]:
df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question,Value
0,1,F,Afghanistan,None,None,Never married,None,None,01/01/2015,... if she burns the food,NaN
1,1,F,Afghanistan,None,Higher,None,None,None,01/01/2015,... if she burns the food,10.1
2,1,F,Afghanistan,None,Secondary,None,None,None,01/01/2015,... if she burns the food,13.7
3,1,F,Afghanistan,None,Primary,None,None,None,01/01/2015,... if she burns the food,13.8
4,1,F,Afghanistan,None,None,"Widowed, divorced, separated",None,None,01/01/2015,... if she burns the food,13.8
...,...,...,...,...,...,...,...,...,...,...,...
12595,210,M,Zimbabwe,None,None,None,None,Urban,01/01/2015,... if she goes out without telling him,11.8
12596,280,M,Zimbabwe,None,None,None,None,Rural,01/01/2015,... if she neglects the children,20.1
12597,280,M,Zimbabwe,None,None,None,None,Urban,01/01/2015,... if she neglects the children,15.0
12598,350,M,Zimbabwe,None,None,None,None,Rural,01/01/2015,... if she refuses to have sex with him,7.2
12599,350,M,Zimbabwe,None,None,None,None,Urban,01/01/2015,... if she refuses to have sex with him,3.7

In [424]:
import pandas as pd
from itertools import product

def generate_combinations(group):

    unique_values = {col: group[col].unique() for col in group.columns[3:10]}
    combinations = list(product(*unique_values.values()))

    result = pd.DataFrame(combinations, columns=unique_values.keys())

    result[group.columns[:3]] = group[group.columns[:3]].iloc[0]

    return result

result_df = df.groupby(['Country']).apply(generate_combinations).reset_index(drop=True)


result_df = result_df.dropna()

result_df

C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]

,Age,Education,Marital status,Employment,Residence,Survey Year,Question,RecordID,Gender,Country
1320,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she burns the food,1,F,Afghanistan
1321,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... for at least one specific reason,1,F,Afghanistan
1322,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she argues with him,1,F,Afghanistan
1323,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she goes out without telling him,1,F,Afghanistan
1324,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she neglects the children,1,F,Afghanistan
...,...,...,...,...,...,...,...,...,...,...
301315,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she argues with him,420,F,Zimbabwe
301316,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she burns the food,420,F,Zimbabwe
301317,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she goes out without telling him,420,F,Zimbabwe
301318,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she neglects the children,420,F,Zimbabwe
301319,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she refuses to have sex with him,420,F,Zimbabwe

In [425]:
order_df = ['RecordID','Gender','Country','Age','Education','Marital status','Employment','Residence','Survey Year','Question']
result_df = result_df[order_df]

In [426]:
result_df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
1320,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she burns the food
1321,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... for at least one specific reason
1322,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she argues with him
1323,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she goes out without telling him
1324,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...,...
301315,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she argues with him
301316,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she burns the food
301317,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she goes out without telling him
301318,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she neglects the children
301319,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she refuses to have sex with him

In [427]:
result_df['Survey Year'] = pd.to_datetime(result_df['Survey Year'])

In [428]:
result_df['Survey Year'] = result_df['Survey Year'].dt.year

In [429]:
result_df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
1320,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she burns the food
1321,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... for at least one specific reason
1322,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she argues with him
1323,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she goes out without telling him
1324,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...,...
301315,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she argues with him
301316,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she burns the food
301317,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she goes out without telling him
301318,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she neglects the children
301319,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she refuses to have sex with him

In [430]:
result_df = result_df.reset_index(drop=True)
result_df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
0,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she burns the food
1,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... for at least one specific reason
2,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she argues with him
3,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she goes out without telling him
4,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...,...
60475,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she argues with him
60476,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she burns the food
60477,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she goes out without telling him
60478,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she neglects the children
60479,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she refuses to have sex with him

In [431]:
result_df.drop('RecordID', axis=1, inplace=True)
result_df

,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
0,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she burns the food
1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... for at least one specific reason
2,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she argues with him
3,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she goes out without telling him
4,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...
60475,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she argues with him
60476,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she burns the food
60477,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she goes out without telling him
60478,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she neglects the children
60479,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she refuses to have sex with him

In [432]:
order_df = ['Country','Age','Education','Marital status','Employment','Residence','Question']
result_df = result_df[order_df]
result_df

,Country,Age,Education,Marital status,Employment,Residence,Question
0,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she burns the food
1,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... for at least one specific reason
2,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she argues with him
3,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she goes out without telling him
4,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she neglects the children
...,...,...,...,...,...,...,...
60475,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she argues with him
60476,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she burns the food
60477,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she goes out without telling him
60478,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she neglects the children
60479,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she refuses to have sex with him

In [433]:
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [434]:
result_df.Country.unique()

array(['Afghanistan', 'Albania', 'Angola', 'Armenia', 'Azerbaijan',
       'Bangladesh', 'Benin', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Chad', 'Colombia', 'Comoros', 'Congo',
       'Congo Democratic Republic', "Cote d'Ivoire", 'Dominican Republic',
       'Egypt', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'India', 'Indonesia', 'Jordan', 'Kenya', 'Kyrgyz Republic',
       'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Moldova', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Nicaragua', 'Niger', 'Nigeria', 'Pakistan', 'Peru', 'Philippines',
       'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone',
       'South Africa', 'Tajikistan', 'Tanzania', 'Timor-Leste', 'Togo',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [435]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [436]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [437]:
result_df

,Country,Age,Education,Marital status,Employment,Residence,Question
0,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she burns the food
1,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... for at least one specific reason
2,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she argues with him
3,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she goes out without telling him
4,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she neglects the children
...,...,...,...,...,...,...,...
60475,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she argues with him
60476,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she burns the food
60477,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she goes out without telling him
60478,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she neglects the children
60479,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she refuses to have sex with him

In [438]:
result_df = result_df.astype(str)
df = result_df

In [439]:
#Grouped by countries


def get_frequent_itemsets_and_rules_by_country(df, country_name, min_support=0.01, min_confidence=0.2, min_length=3):
  country_transactions = df[df['Country'] == country_name].values.tolist()

  te = TransactionEncoder()
  te_ary = te.fit(country_transactions).transform(country_transactions)
  df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

  frequent_itemset = apriori(df_encoded, min_support=min_support,use_colnames=True)
  frequent_itemset = frequent_itemset.sort_values(by="support", ascending=False)
  frequent_itemset['length'] = frequent_itemset['itemsets'].apply(lambda x:len(x))

  result_df = frequent_itemset[(frequent_itemset['length'] >= min_length) & (frequent_itemset['support'] >= min_support) & (frequent_itemset['itemsets'].apply(lambda x: country_name in str(x)))]

  rules = association_rules(frequent_itemset, metric = 'confidence', min_threshold=min_confidence)
  rules_for_country = rules[
    (rules['antecedents'].apply(lambda x: country_name in str(x))) | (rules['consequents'].apply(lambda x: country_name in str(x)))  ]
    
  return result_df, rules

In [440]:
country_name = "Albania" 
prediction_albania = get_frequent_itemsets_and_rules_by_country(result_df,country_name)
prediction_albania

(       support                                           itemsets  length
 956   0.250000     (Urban, Widowed, divorced, separated, Albania)       3
 936   0.250000                    (Never married, Rural, Albania)       3
 950   0.250000     (Widowed, divorced, separated, Rural, Albania)       3
 939   0.250000                    (Urban, Never married, Albania)       3
 914   0.166667        (Employed for cash, Never married, Albania)       3
 ...        ...                                                ...     ...
 2443  0.010417  (Rural, ... if she refuses to have sex with hi...       5
 2442  0.010417  (Urban, ... if she refuses to have sex with hi...       5
 2441  0.010417  (Rural, ... if she refuses to have sex with hi...       5
 2440  0.010417  (Urban, ... if she refuses to have sex with hi...       5
 2439  0.010417  (Rural, ... if she refuses to have sex with hi...       5

 [1347 rows x 3 columns],
                                              antecedents  \
 0                                        (Never married)
 1                                              (Albania)
 2                         (Widowed, divorced, separated)
 3                                              (Albania)
 4                                                (Urban)
 ...                                                  ...
 13518  (Higher, ... if she refuses to have sex with him)
 13519  (Urban, Widowed, divorced, separated, ... if s...
 13520         (Urban, Higher, ... if she burns the food)
 13521  (Widowed, divorced, separated, Higher, ... if ...
 13522                (Higher, ... if she burns the food)

                                  consequents  antecedent support  \
 0                                  (Albania)            0.500000
 1                            (Never married)            1.000000
 2                                  (Albania)            0.500000
 3             (Widowed, divorced, separated)            1.000000
 4                                  (Albania)            0.500000
 ...                                      ...                 ...
 13518        (Never married, Rural, Albania)            0.041667
 13519                               (Higher)            0.041667
 13520         (Widowed, divorced, separated)            0.020833
 13521                                (Urban)            0.020833
 13522  (Urban, Widowed, divorced, separated)            0.041667

        consequent support   support  confidence  lift  leverage  conviction  \
 0                    1.00  0.500000        1.00   1.0       0.0         inf
 1                    0.50  0.500000        0.50   1.0       0.0         1.0
 2                    1.00  0.500000        1.00   1.0       0.0         inf
 3                    0.50  0.500000        0.50   1.0       0.0         1.0
 4                    1.00  0.500000        1.00   1.0       0.0         inf
 ...                   ...       ...         ...   ...       ...         ...
 13518                0.25  0.010417        0.25   1.0       0.0         1.0
 13519                0.25  0.010417        0.25   1.0       0.0         1.0
 13520                0.50  0.010417        0.50   1.0       0.0         1.0
 13521                0.50  0.010417        0.50   1.0       0.0         1.0
 13522                0.25  0.010417        0.25   1.0       0.0         1.0

        zhangs_metric
 0                0.0
 1                0.0
 2                0.0
 3                0.0
 4                0.0
 ...              ...
 13518            0.0
 13519            0.0
 13520            0.0
 13521            0.0
 13522            0.0

 [13523 rows x 10 columns])

In [441]:
import pickle

In [442]:
import os 
folder_name = 'Models'
countries = df['Country'].unique()
for country in countries : 
    itemsets, rules = get_frequent_itemsets_and_rules_by_country(df, country)
    pickle_filename = os.path.join(folder_name,'model_for_'+ country.lower() + '.pkl')
    with open(pickle_filename, 'wb') as file: 
        pickle.dump((itemsets, rules), file)
        
    print(f'Model for {country} saved to {pickle_filename}')

Model for Afghanistan saved to Models\model_for_afghanistan.pkl
Model for Albania saved to Models\model_for_albania.pkl
Model for Angola saved to Models\model_for_angola.pkl
Model for Armenia saved to Models\model_for_armenia.pkl
Model for Azerbaijan saved to Models\model_for_azerbaijan.pkl
Model for Bangladesh saved to Models\model_for_bangladesh.pkl
Model for Benin saved to Models\model_for_benin.pkl
Model for Bolivia saved to Models\model_for_bolivia.pkl
Model for Burkina Faso saved to Models\model_for_burkina faso.pkl
Model for Burundi saved to Models\model_for_burundi.pkl
Model for Cambodia saved to Models\model_for_cambodia.pkl
Model for Cameroon saved to Models\model_for_cameroon.pkl
Model for Chad saved to Models\model_for_chad.pkl
Model for Colombia saved to Models\model_for_colombia.pkl
Model for Comoros saved to Models\model_for_comoros.pkl
Model for Congo saved to Models\model_for_congo.pkl
Model for Congo Democratic Republic saved to Models\model_for_congo democratic republic.pkl
Model for Cote d'Ivoire saved to Models\model_for_cote d'ivoire.pkl
Model for Dominican Republic saved to Models\model_for_dominican republic.pkl
Model for Egypt saved to Models\model_for_egypt.pkl
Model for Eritrea saved to Models\model_for_eritrea.pkl
Model for Eswatini saved to Models\model_for_eswatini.pkl
Model for Ethiopia saved to Models\model_for_ethiopia.pkl
Model for Gabon saved to Models\model_for_gabon.pkl
Model for Gambia saved to Models\model_for_gambia.pkl
Model for Ghana saved to Models\model_for_ghana.pkl
Model for Guatemala saved to Models\model_for_guatemala.pkl
Model for Guinea saved to Models\model_for_guinea.pkl
Model for Guyana saved to Models\model_for_guyana.pkl
Model for Haiti saved to Models\model_for_haiti.pkl
Model for Honduras saved to Models\model_for_honduras.pkl
Model for India saved to Models\model_for_india.pkl
Model for Indonesia saved to Models\model_for_indonesia.pkl
Model for Jordan saved to Models\model_for_jordan.pkl
Model for Kenya saved to Models\model_for_kenya.pkl
Model for Kyrgyz Republic saved to Models\model_for_kyrgyz republic.pkl
Model for Lesotho saved to Models\model_for_lesotho.pkl
Model for Liberia saved to Models\model_for_liberia.pkl
Model for Madagascar saved to Models\model_for_madagascar.pkl
Model for Malawi saved to Models\model_for_malawi.pkl
Model for Maldives saved to Models\model_for_maldives.pkl
Model for Mali saved to Models\model_for_mali.pkl
Model for Moldova saved to Models\model_for_moldova.pkl
Model for Morocco saved to Models\model_for_morocco.pkl
Model for Mozambique saved to Models\model_for_mozambique.pkl
Model for Myanmar saved to Models\model_for_myanmar.pkl
Model for Namibia saved to Models\model_for_namibia.pkl
Model for Nepal saved to Models\model_for_nepal.pkl
Model for Nicaragua saved to Models\model_for_nicaragua.pkl
Model for Niger saved to Models\model_for_niger.pkl
Model for Nigeria saved to Models\model_for_nigeria.pkl
Model for Pakistan saved to Models\model_for_pakistan.pkl
Model for Peru saved to Models\model_for_peru.pkl
Model for Philippines saved to Models\model_for_philippines.pkl
Model for Rwanda saved to Models\model_for_rwanda.pkl
Model for Sao Tome and Principe saved to Models\model_for_sao tome and principe.pkl
Model for Senegal saved to Models\model_for_senegal.pkl
Model for Sierra Leone saved to Models\model_for_sierra leone.pkl
Model for South Africa saved to Models\model_for_south africa.pkl
Model for Tajikistan saved to Models\model_for_tajikistan.pkl
Model for Tanzania saved to Models\model_for_tanzania.pkl
Model for Timor-Leste saved to Models\model_for_timor-leste.pkl
Model for Togo saved to Models\model_for_togo.pkl
Model for Turkey saved to Models\model_for_turkey.pkl
Model for Turkmenistan saved to Models\model_for_turkmenistan.pkl
Model for Uganda saved to Models\model_for_uganda.pkl
Model for Ukraine saved to Models\model_for_ukraine.pkl
Model for Yemen saved to Models\model_for_yemen.pkl
Model for Zambia saved to Models\model_for_zambia.pkl
Model for Zimbabwe saved to Models\model_for_zimbabwe.pkl

In [443]:
!git config --global user.email "yl.boudchicha@esi-sba.dz"
!git config --global user.name "Leyna911"
!git config --global user.password "Sunflower2001#"

In [444]:
!git init

Reinitialized existing Git repository in D:/Mini_Projet_ML/.git/

In [445]:
!git add .

warning: in the working copy of '.ipynb_checkpoints/Mini_Projet-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Mini_Projet.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Models/.ipynb_checkpoints/Mini_Projet-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it

In [446]:
!git commit -m "Apriori algorithm "

[master 0584ad0] Apriori algorithm
 79 files changed, 744 insertions(+), 308 deletions(-)
 rename Models/{Mini_Projet.ipynb => .ipynb_checkpoints/Mini_Projet-checkpoint.ipynb} (100%)
 create mode 100644 app/__pycache__/ViolenceAgainstWomen.cpython-311.pyc
 create mode 100644 app/__pycache__/app.cpython-311.pyc
 delete mode 100644 app/main.py
 delete mode 100644 model_for_afghanistan.pkl
 delete mode 100644 model_for_albania.pkl
 delete mode 100644 model_for_angola.pkl
 delete mode 100644 model_for_armenia.pkl
 delete mode 100644 model_for_azerbaijan.pkl
 delete mode 100644 model_for_bangladesh.pkl
 delete mode 100644 model_for_benin.pkl
 delete mode 100644 model_for_bolivia.pkl
 delete mode 100644 model_for_burkina faso.pkl
 delete mode 100644 model_for_burundi.pkl
 delete mode 100644 model_for_cambodia.pkl
 delete mode 100644 model_for_cameroon.pkl
 delete mode 100644 model_for_chad.pkl
 delete mode 100644 model_for_colombia.pkl
 delete mode 100644 model_for_comoros.pkl
 delete mode 100644 model_for_congo democratic republic.pkl
 delete mode 100644 model_for_congo.pkl
 delete mode 100644 model_for_cote d'ivoire.pkl
 delete mode 100644 model_for_dominican republic.pkl
 delete mode 100644 model_for_egypt.pkl
 delete mode 100644 model_for_eritrea.pkl
 delete mode 100644 model_for_eswatini.pkl
 delete mode 100644 model_for_ethiopia.pkl
 delete mode 100644 model_for_gabon.pkl
 delete mode 100644 model_for_gambia.pkl
 delete mode 100644 model_for_ghana.pkl
 delete mode 100644 model_for_guatemala.pkl
 delete mode 100644 model_for_guinea.pkl
 delete mode 100644 model_for_guyana.pkl
 delete mode 100644 model_for_haiti.pkl
 delete mode 100644 model_for_honduras.pkl
 delete mode 100644 model_for_india.pkl
 delete mode 100644 model_for_indonesia.pkl
 delete mode 100644 model_for_jordan.pkl
 delete mode 100644 model_for_kenya.pkl
 delete mode 100644 model_for_kyrgyz republic.pkl
 delete mode 100644 model_for_lesotho.pkl
 delete mode 100644 model_for_liberia.pkl
 delete mode 100644 model_for_madagascar.pkl
 delete mode 100644 model_for_malawi.pkl
 delete mode 100644 model_for_maldives.pkl
 delete mode 100644 model_for_mali.pkl
 delete mode 100644 model_for_moldova.pkl
 delete mode 100644 model_for_morocco.pkl
 delete mode 100644 model_for_mozambique.pkl
 delete mode 100644 model_for_myanmar.pkl
 delete mode 100644 model_for_namibia.pkl
 delete mode 100644 model_for_nepal.pkl
 delete mode 100644 model_for_nicaragua.pkl
 delete mode 100644 model_for_niger.pkl
 delete mode 100644 model_for_nigeria.pkl
 delete mode 100644 model_for_pakistan.pkl
 delete mode 100644 model_for_peru.pkl
 delete mode 100644 model_for_philippines.pkl
 delete mode 100644 model_for_rwanda.pkl
 delete mode 100644 model_for_sao tome and principe.pkl
 delete mode 100644 model_for_senegal.pkl
 delete mode 100644 model_for_sierra leone.pkl
 delete mode 100644 model_for_south africa.pkl
 delete mode 100644 model_for_tajikistan.pkl
 delete mode 100644 model_for_tanzania.pkl
 delete mode 100644 model_for_timor-leste.pkl
 delete mode 100644 model_for_togo.pkl
 delete mode 100644 model_for_turkey.pkl
 delete mode 100644 model_for_turkmenistan.pkl
 delete mode 100644 model_for_uganda.pkl
 delete mode 100644 model_for_ukraine.pkl
 delete mode 100644 model_for_yemen.pkl
 delete mode 100644 model_for_zambia.pkl
 delete mode 100644 model_for_zimbabwe.pkl
 delete mode 100644 model_pkl

In [447]:
!git remote add origin https://github.com/Leyna911/Violence_against_Women_and_Girls_Mini_Projet.git

error: remote origin already exists.

In [448]:
!git push -u origin master

branch 'master' set up to track 'origin/master'.

To https://github.com/Leyna911/Violence_against_Women_and_Girls_Mini_Projet.git
   6bf4d49..0584ad0  master -> master